body {
    font-family: Arial, sans-serif;
    background:linear-gradient(to right,lightseagreen,lightskyblue);
    height: 100vh;
    margin: 0;
  }

  .card {
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    max-width: auto;
    padding: 30px;
    background:linear-gradient(to left,lightblue,lightgreen);
  }
  .header {
    padding: 10px;
    text-align: center;
    background: #1abc9c;
    color: rgb(17, 137, 235);
    font-size: 15px;

  }

  .input-section {
    margin-bottom: 20px;
  }

  .label-section {
    font-size: 16px;
    color: #444;
  }

  .div-section {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
  }

  .image-preview,
  .video-preview {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
    border-radius: 8px;
  }

  .button-section {
    text-align: center;
    margin-top: 30px;
  }

  .button-section button {
    padding: 12px 40px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 15px;
    cursor: pointer;
  }
  .button-section button:hover{
    color:blue;
    background-color:aquamarine;
  }

  .data-container {
    max-height: 300px;
    overflow-y: scroll;
  }